#left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#main {
  width: 300px;
  height: 100vh;
  padding: 0 40px;
  position: relative;
}

#icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#left-side-header {
  padding-top: 30px;
  padding-bottom: 40px;
}

#left-side-body {
  width: 100%;
  flex: 1;
}

#left-side-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;
}

.discord-icon {
  margin-right: 10px;
}
