version: "3.9"

services:

  db:
    container_name: kelbi-db
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=kelbi-dev
    ports: 
      - "5432:5432"
    networks:
      - kelbi
    volumes:
      - kelbi_db_data:/var/lib/postgresql/18/main

volumes:
  kelbi_db_data:

networks:
  kelbi: