.launcher-buttons {
    margin-top: 1px;
    position: absolute;
    right: 0;
}

.launcher-buttons .icon {
    color: #8c8c8c;
    margin-right: 5px;
    padding: 2px;
}
#minimize-window-button:hover {
    background-color: #f8f8f8;
}

#close-window-button:hover {
    background-color: #ef4444;
}