#sign-in h1 {
  font-size: 2rem;
}

#sign-in {
  margin-top: 50px;
  display: block;
  width: 100%;
}

#sign-in button {
  background-color: #1e293b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
}