#left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  padding: 50px 40px;

}

#icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


#left-side-footer {
  margin: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.discord-icon {
  margin-right: 10px;
}