#left-side {
  display: flex;
  flex-direction: column;
  /* FOR IMAGE SEPARATE */
  width: 300px;
  /* FOR IMAGE FULLSCREEN */
  /* width: 400px; */

  align-items: center;
  padding: 50px 40px;
  opacity: 0.8;
  background-color: #f8f8f8;
}

#icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


#left-side-header {
  margin-bottom: 50px;
}

#left-side-footer {
  margin: 150px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.discord-icon {
  margin-right: 10px;
}