:root {
  --main-color: #2b2a2f;
  --main-bg-color: #f8f8f8;
  --secondary-bg-color: #eaeaea;
  --placeholder-color: #8c8c8c;
}

.main-color {
  color: #2b2a2f;
}

.main-bg-color {
  background-color: #f8f8f8;
}

.secondary-bg-color {
  background-color: #eaeaea;
}


*::placeholder {
  color: #8c8c8c;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0px;
  width: 100%;
  overflow: hidden;
}

.input {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 3px;
}


.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-group label {
  display: none;
}

#main {
  display: flex;
  flex-direction: row;
}

.icon {
  cursor: pointer;
}
